services:
  mysql:
    image: 'mysql:latest'
    container_name: spring-boot-template-mysql
    environment:
      - 'MYSQL_DATABASE=mydatabase'
      - 'MYSQL_PASSWORD=secret'
      - 'MYSQL_ROOT_PASSWORD=verysecret'
      - 'MYSQL_USER=myuser'
      - 'TZ=Asia/Shanghai'
      - 'MYSQL_CHARACTER_SET_SERVER=utf8mb4'
      - 'MYSQL_COLLATION_SERVER=utf8mb4_unicode_ci'
    # ports:
    #   - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql # 使用命名卷挂载 MySQL 数据目录
    restart: unless-stopped
    networks:
      - xujie_template_default

  redis:
    image: 'redis:latest'
    # ports:
    #   - '6379:6379'
    restart: unless-stopped
    networks:
      - xujie_template_default

  spring-boot-template:
    image: demo-app:latest
    # 因为要外部访问swagger，所以需要映射端口。正常情况下，不需要映射端口，直接使用容器内部的端口即可。
    ports:
      - "8080:8080"
    restart: unless-stopped
    depends_on:
      - mysql
    environment:
      - SPRING_PROFILES_ACTIVE=mysql,redis,prod
      - DB_HOST=mysql
      - REDIS_HOST=redis
      - WECHAT_APPID=${WECHAT_APPID}
      - WECHAT_SECRET=${WECHAT_SECRET}
      - WECHAT_GRANT_TYPE=${WECHAT_GRANT_TYPE}
    networks:
      - xujie_template_default

volumes:
  mysql_data: {} # 声明命名卷

# 加入到后端网络，docker network ls 查看
networks:
  xujie_template_default:
    # 网络名称
    external: true # 外部网络，表示使用已存在的 Docker 网络，需提前创建 docker network create xujie_template_default
